.tblrow {
display:inline;
}

.tblrow h5{
display:inline-block;
margin-left:40px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
/* max-width: 350px; */
width: 290px;
}

li:hover button{
  visibility: visible;
}

.file-thumbnail{
  width:100px;
  height:100px;
}

li button{
float:right;
margin-top:14px;
margin-right:7px;
visibility: hidden;
}